/* ANIMAÇÕES DO MAIN */

@keyframes bg-anima { 
    from{
        transform: translateY(-4px); /* animação de background */
    }
}
@keyframes logo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}